section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    width: 100%;
    background-color: #3f4248;
    /* background-color: #fc0606; */
    /* background-color: #27488a; */
    margin-top: 80px;
    font-family: Helvetica, Arial, sans-serif;
}

section .login-form-parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#27292c;
    width: 500px;
    height:330px;
    border-radius: 15px;
}

section .login-form-parent form .submit-button{
    background-color: #ffa500;
    color: #27292c;
    /* background-color: #f42f8e; */
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

section .login-form-parent form .submit-button:hover{
    background-color: #ff8c00;
}

section .login-form-parent form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
}

section .login-form-parent form .form-field{
    display: flex;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    width: 350px;
    justify-content: space-around;
    margin-bottom: 20px;
}

section .login-form-parent form .form-field label{
    padding: 10px;
    margin: 10px 0px;
    width: 100px;
    font-size: 1.2rem;
    /* border: 1px solid #ffa600b5; */
}

section .login-form-parent form .form-field input{
    padding: 10px;
    margin: 10px 0px;
    width: 200px;
    font-size: 1.2rem;
    border-radius: 6px;
    border: none;
}

section .login-form-parent form .form-field input:focus{
    outline: 3px solid #ffa600b5;
    box-shadow: 0 0 2px 1px #ffa500;
}

hr{
    width: 90%;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    color: #fff;
    opacity: 0.7;
}

@media (max-width: 768px) {
    section .login-form-parent{
        width: 350px;
        /* background-color: #ff8c00; */
        height: 250px;
    }

    section .login-form-parent form .form-field{
        font-size: 1rem;
        font-weight: bold;
        width: 300px;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    section .login-form-parent form .form-field label{
        padding: 8px;
        margin: 8px 0px;
        width: 80px;
        font-size: 1rem;
    }
    
    section .login-form-parent form .form-field input{
        padding: 8px;
        margin: 8px 0px;
        width: 180px;
        font-size: 1rem;
        border-radius: 6px;
        border: none;
    }
    
    section .login-form-parent form .submit-button{
        font-size: 1.2rem;
        margin-top: 15px;
        padding: 15px;
        width: 260px;
        border-radius: 10px;
    }
 }

 @media (max-width: 576px) { 
    section .login-form-parent{
        width: 270px;
        height: 300px;
    }

    section .login-form-parent form .form-field{
        font-weight: bold;
        width: 250px;
        flex-direction: column;
        margin-bottom: 20px;
        font-size: 0.9rem;
    }

    section .login-form-parent form .form-field label{
        padding: 5px;
        margin: 5px 0px;
        margin-left: 10px;
        width: 210px;
        font-size: 0.9rem;
    }
    
    section .login-form-parent form .form-field input{
        width: 210px;
        margin-left: 12px;
        border-radius: 6px;
        font-size: 0.9rem;
        border: none;
    }
    
    section .login-form-parent form .submit-button{
        font-size: 1rem;
        padding: 10px;
        margin-top: 15px;
        margin-bottom: 20px;
        width: 210px;
        border-radius: 10px;
    }
  }