{% extends "layout.html" %}

{% block style %} 
<link rel="stylesheet" href="/static/css/contest.css"/>
{% endblock %}

{% block Title %} Contests {% endblock %}

{% block main %}

<div class="table-container">
  <table>
      <thead>
          <tr>
              <th>Name</th>
              <th>Writers</th>
              <th>Start</th>
              <th>Duration</th>
              <th>Registartion</th>
            </tr>
          </thead>
    {% for contest in contests %}
          <tbody>
            <!-- Repeat this row for each entry -->
            <tr class="entry">
              <!-- Name -->
              <td><a href="#">CodeHuck Div4 Round #{{contest['id']}}</a></td>

              <!-- Writers -->
              <td class="writers">
                <a href="/profile/Saged Rayan">Saged Rayan</a>
                <a href="/profile/Abdelrahman Atef">Abdelrahman Atef</a>
                <a href="/profile/Zyad Hany">Zyad Hany</a>
                <a href="/profile/Basmala Adel">Basmala Adel</a>
              </td>

              <!-- Start -->
              <td> May  /08/2024 10:05</td>

               <!-- Length -->
               <td>02:30</td>

               <!-- Final standings -->
               <td>x55583</td>
          </tr>

          <!-- ... other rows ... -->

      </tbody>
      {% endfor %}
  </table>
</div>



{% endblock %}
